// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic&subset=latin,cyrillic-ext);
body, *, h1, h2, h3, .uk-navbar-nav>li>a {
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------
  COLORS
--------------------------------------------------*/

@lightGray: #4f5157;
@darkGray: #414349;
@colorGray: #adadae;

/*--------------------------------------------------
  MARGINS/PADDING
--------------------------------------------------*/

@horizontalMargin: 20px;
@padding-small: 10px;

/*--------------------------------------------------
  UIKIT
--------------------------------------------------*/
.uk-padding-small{
  padding: @padding-small;
}

/*--------------------------------------------------
  INDEX PAGE
--------------------------------------------------*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}
#page-preloader .spinner {
  width: 128px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../img/spinner.gif') no-repeat 50% 50%;
  margin: -7px 0 0 -69px;
}

.toolbar {
  background-color: #666;
  color: #fff;
  padding: 10px 0;
  a {
    color: #fff;
  }
  #cart-wish-compare {
    ul li {
      display: inline-block;
    }
    .uk-badge {
      font-weight: normal;
    }
  }
}
#header {
  padding: 20px 0;
  background-color: #fff;
  .name #logo {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 12px
  }
  .phone {
    font-size: 19px;
    margin-top: 10px;
  }
  .user {
    margin-bottom: 10px;
  }
}
#main-nav {
  .uk-navbar-flip {
    .uk-badge {
      font-weight: normal;
    }
  }
}
#main-slider {
  margin-bottom: @horizontalMargin;
}
.main-menu .uk-accordion-title {
  margin-bottom: 0;
}
.product {
  text-align: center;
  .old-price {
    text-decoration: line-through;
    color: red;
  }
  .price {
    font-weight: bold;
    font-size: 20px;
  }
}
footer {
  padding: 15px 0 30px;
  background-color: @lightGray;
  color: @colorGray;
  h3 {
    font-size: 20px;
    color: @colorGray;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  .social-links {
    a {
      font-size: 20px;
      background: @darkGray;
      display: block;
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 10px;
      text-align: center;
      i {
        margin-top: 9px;
      }
    }
    a:hover {
      color: @colorGray;
    }
  }
}
.copy {
  background: @darkGray;
  color: @colorGray;
  padding: 20px 0 20px;
  a {
    color: #fff;
    text-decoration: underline;
  }
  #to-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    background: @lightGray;
    color: #fff;
  }
}
#offcanvas-cart .uk-offcanvas-bar {
  .uk-table td, .uk-table th {
    padding: 0 10px 10px 0;
  }
  .uk-table a {
    text-decoration: underline;
    color: #fff;
  }
}

/*--------------------------------------------------
  CATALOG
--------------------------------------------------*/
#catalog .product.uk-panel{
  margin-bottom: 10px;
}
/*--------------------------------------------------
  PRODUCT
--------------------------------------------------*/
#content.product-page .social-likes.social-likes_visible{
  float: right;
}
#advantage{
  .uk-icon-truck,
  .uk-icon-credit-card,
  .uk-icon-thumbs-o-up{
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 50%;
  }
}
